#mywebsite{
    width: auto;
    font-family: Arial, Helvetica, sans-serif;
}

#landing{
    background-image: linear-gradient(to bottom,rgba(14, 21, 12, 0.36),rgba(178, 181, 172, 0.623)), url(/img/landing-img.jpg);
    background-size: cover;
    background-position: center;
    width: auto;
    height: 99vh;
    display: grid;
    place-content: center;
    color: white;
    margin-bottom: 10%;
    text-shadow: 1px 2px black;
}

#landing h1{
    padding-top: 25%;
    margin: 0%;
    font-size: 50px;
}

#landing p{
    padding: -1%;
    padding-bottom: 25%;
    font-size: 20px;
    text-align: center;
}

#blog{
    display: flex;
    justify-content: center;
    padding-top: 60px;
}

div{
    border: 1px lightgray;
    border-style: solid;
    border-radius: 3%;
    width: 300px;
    height: 290px;
    display: inline-block;
    align-content: center;
    margin-left: 15px;
    margin-bottom: 140px;
    background-color: whitesmoke;
    padding-bottom: 35px;
    box-shadow: 0px 0px 10px rgb(215, 212, 212);
}

img{
    align-items: center;
    height: 150px;
    width: 100%;
    object-fit: cover;
}

#blog h2{
    font-size: 33px;
    position: absolute;
    margin-top: -80px;
    text-align: center;
    width: 100%;
}

h3{
    padding-left: 28px;
    font-size: 18px;
    font-weight: 700;
}

#blog p{
    padding-left: 23px;
    padding-right: 40px;
    padding-bottom: 10px;
    margin-top: -10px;
    font-size: 13px;
    font-weight: 500;
}

a{
    padding-left: 23px;
    text-decoration: none;
    color: gray;
    font-size: 13px;
}

#blog a:hover{
    color: rgb(181, 70, 191);
}

[title="Featured Item"]{
    background-color: black;
    border-color: black;
    color: white;
}

[title="Featured Item"] a{
    color: rgb(236, 65, 13);
}

#services{
    display: flex;
    padding-top: 150px;
    padding-bottom: 50px;
    justify-content: center;
    background-color: whitesmoke;
}

#services h2{
    font-size: 34px;
    text-align: center;
    margin-top: -100px;
    position: absolute;
    width: 100%;
    padding-top: 50px;
}

ul li{
    display: flex;
    margin: 17px;
    margin-top: 5px;
    align-items: center;
    list-style-type: none 
}

li{
    float: left;
    height: 80px;
    width: 90px;
    background-color: white;
    font-size: 15px;
    padding-left: 60px;
    padding-right: 40px;
    font-weight: 500;
}

li:hover{
    box-shadow: 0px 0px 10px rgba(173, 173, 172, 0.732);
}

#service1{
    background-color: rgb(236, 65, 13);
}